name: rider_telemetry_app
description: "Rider Telemetry App"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  sensors_plus: ^4.0.2
  geolocator: ^10.1.0
  sqflite: ^2.3.3
  path_provider: ^2.1.4
  vector_math: ^2.1.4
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
